.container {
  display:flex;
  justify-content:center;
  align-items:center;
  background-color: white;
  border-radius: 1ch;

}

.form-container {

  display:flex;
  justify-content:center;
  align-items:center;
  background-color: #ffffff;
  border-radius: 1ch;
}

.mat-create {
  background-color: green;
  color: #fff;
}
