.container-fluid .firstj {
  background-color:  #0097a7;
}

.container {
  background-color:  #ffffff;
}

.row {
  display:flex;
  justify-content:center;
  align-items:center;
  background-color:  #ffffff;
}

.panel-body {
  height: 50px;
}

ul {
  height: 50px;
}
