<div class="main-container">
    <alert></alert>
    <div id="ticket-details" class="container">
        <div class="ticket-details">
            <div class="header jumbotron">
                <home></home>
                <div class="title">
                    {{title}}: {{ticket.label}}
                </div>
            </div>
            <div class="primary-data jumbotron">
                <table class="table">
                    <thead class="table-header">
                        <tr class="table-column-title">
                            <td>Impact</td>
                            <td>Priority</td>
                            <td>Time Sensitiveness</td>
                            <td>Application</td>
                            <td>Module</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-column-content">
                            <td>{{ ticket.impact }}</td>
                            <td>{{ ticket.priority }}</td>
                            <td>{{ ticket.time_sensitiveness }}</td>
                            <td>{{ ticket.application }} {{ ticket.version_affected_set }}</td>
                            <td>{{ ticket.module_set }}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="">
                    <table class="table">
                        <thead class="table-header">
                            <tr class="table-column-title">
                                <td>Rapporteur</td>
                                <td>Responsible</td>
                            </tr>
                        </thead>
                        <tbody class="table-body"> 
                            <tr class="table-column-content">
                                <td>lorem ipsum</td>
                                <td>{{ ticket.accountable }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="">
                    <table class="table">
                        <thead class="table-header">
                            <tr class="table-column-title">
                                <td>Assigned to</td>
                                <td>Open</td>
                                <td>Status</td>
                                <td>Informed</td>
                                <td>Consultors</td>
                            </tr>
                        </thead>
                        <tbody class="table-body">
                            <tr class="table-column-content">
                                <td *ngIf="ticket">{{ ticket.responsible }}</td>
                                <td *ngIf="ticket.status !== 'validated'; else elseBlock">Yes</td>
                                <ng-template #elseBlock>
                                    <td>No</td>
                                </ng-template>
                                <td>{{ ticket.status }}</td>
                                <td>{{ ticket.informed_set }}</td>
                                <td>{{ ticket.consulted_set }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="secondary-data jumbotron">
                <div class="description row">
                    <div class="col-sm-12">
                        <table class="table">
                            <thead class="table-header">
                                <tr class="table-column-title">
                                    <td>Description</td>
                                </tr>
                            </thead>
                            <tbody class="table-body">
                                <tr class="table-column-content">
                                    <td>{{ ticket.description }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div><!--
                <hr />
                <div class="phases row">
                    <div class="col-sm-12">
                        <h3>Phases</h3>
                        <br />
                        <p>Phases here...</p>
                    </div>
                </div>
                <hr />
                <div class="information row">
                    <div class="col-sm-12">
                        <h3>Additionnal Information</h3>
                        <br />
                        <p>add informations here...</p>
                    </div>
                </div>
                <hr />
                <div class="link row">
                    <div class="col-sm-12">
                        <h3>Bind to (past ticket/origin ticket)</h3>
                        <br />
                        <p>{{ ticket.original }}</p>
                    </div>
                </div>
                <hr />
                <div class="pieces row">
                    <div class="col-sm-12">
                        <h3>Attached Documents</h3>
                        <br />
                        <p>attached docs here...</p>
                    </div>
                </div>
            </div>
            <div class="thirdly-data jumbotron">
                <div class="chatj jumbotron">
                    <form name="form" (ngSubmit)="f.form.valid && createComment()" #f="ngForm" novalidate>
                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !content.valid }">
                            <input class="form-control form-control-lg"  type="text" name="content"
                                   [(ngModel)]="model.content" #content="ngModel" required />
                            <div *ngIf="f.submitted && !content.valid" class="help-block">You must write something</div>
                        </div>
                        <div class="form-group">
                            <button (click)="refresh()" class="btn btn-lg">Create</button>
                        </div>
                    </form>
                    <h3>Answer</h3>
                    <div *ngFor="let comment of comments">
                        <p *ngIf="comment.ticket === ticket.url">
                            {{ comment.content }}
                        </p>
                    </div>
                </div>
            </div>-->
        </div>

    </div>
</div>