<div class="main-container">
  <alert></alert>
  <div id="ticket-list" class="container">
    <div class="ticket-list jumbotron">
        <div class="header">
            <div class="title">
              {{title}}
            </div>
          </div>
      <div #toggler class="sidenav-toggler">
        <button class="menu-button" type="button" (click)="toggle()">Menu</button>
      </div>
      <div class="space"></div>
      <div #drawer id="sidenav" class="sidenav">
        <task></task>
      </div>
      <div class="list">
          <table class="table">
            <thead class="table-header">
              <tr class="table-column-title">
                <td><p>Label</p></td>
                <td><p>Application</p></td>
                <td><p>Module</p></td>
                <td><p>Status</p></td>
              </tr>
            </thead>
            <tbody class="table-body">
              <tr class="table-column-content" *ngFor="let ticket of ticketCollection"
                [class.selected]="ticket === selectedTicket"
                (click)="onSelect(ticket)"
                routerLink="/details/{{ticket.id}}">
                <td><p>{{ ticket.label }}</p></td>
                <td><p>{{ ticket.application }} {{ ticket.version_affected_set }}</p></td>
                <td><p>{{ ticket.module_set }}</p></td>
                <td><p>{{ ticket.status }}</p></td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>