<div class="container-fluid">
    <div class="jumbotron">
        <h1>{{ name }}</h1>
        <main></main>
        <task></task>
    </div>
</div>
<alert></alert>
<hr />
<div class="container">
    <table class="table table-bordered table-condensed">
        <thead style="background-color: #0097a7">
            <tr>
                <td>Label</td>
                <td>Application</td>
                <td>Module</td>
                <td>Status</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ticket of ticketCollection"
                [class.selected]="ticket === selectedTicket"
                (click)="onSelect(ticket)">
                <td>{{ ticket.label }}</td>
                <td>{{ ticket.application }} {{ ticket.version_affected_set }}</td>
                <td>{{ ticket.module_set }}</td>
                <td>{{ ticket.status }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container-fluid">
    <footer >
    </footer>
</div>
