<div class="container-fluid">
    <div class="firstj jumbotron">
        <h1>{{ name }}</h1>
        <home></home>
    </div>
</div>
<alert></alert>
<!--
<div class="row">
    <div class="col-sm-3">
    <div class="panel panel-warning">
        <div class="panel-heading">
        Available tickets
        </div>
        <div class="panel-body" dnd-sortable-container [dropZones]="['tickets-zone']"
             [sortableData]="ticketCollection">
            <ng-container *ngFor="let ticket of ticketCollection ; let i = index">
                <ul class="list-group"
                    *ngIf="ticket.status === 'in_progress'"
                    dnd-sortable [sortableIndex]="i"
                    (drag)="onDrag(ticket)"
                    (drop)="updateStatus(this.draggedTicket, 'in_progress');
                            updateSprint(this.draggedTicket, 'TBD');
                            updateResponsible(this.draggedTicket, this.draggedTicket.responsible)">
                    <li class="list-group-item">
                        {{ticket.label}} ({{ ticket.status }})
                    </li>
                </ul>
            </ng-container>
        </div>
    </div>
    </div>
</div>
<div class="row">
    <div *ngFor="let user of users" class="col-sm-3">
        {{ user.username }}
    <div class="panel panel-success">
        <div class="panel-heading">
        On hold
        </div>
        <div class="panel-body" dnd-sortable-container [dropZones]="['tickets-zone']"
             [sortableData]="ticketCollection">
            <ng-container *ngFor="let ticket of ticketCollection ; let i = index">
                <ul class="list-group"
                    *ngIf="ticket.status === 'on_hold' && ticket.responsible === user.username"
                    dnd-sortable [sortableIndex]="i"
                    (drag)="onDrag(ticket)"
                    (drop)="updateSprint(this.draggedTicket, this.draggedTicket.sprint);
                    updateResponsible(this.draggedTicket, user.username);
                    updateStatus(this.draggedTicket, 'on_hold')">
                    <li class="list-group-item">
                        {{ticket.label}} ({{ ticket.status }})
                    </li>
                </ul>
            </ng-container>
        </div>
    </div>
    </div>
</div>
<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
       Ready
        </div>
        <div class="panel-body" dnd-sortable-container [dropZones]="['tickets-zone']"
             [sortableData]="ticketCollection">
            <ng-container *ngFor="let ticket of ticketCollection; let i = index">
                <ul class="list-group"
                    *ngIf="ticket.status === 'ready'"
                    dnd-sortable [sortableIndex]="i"
                    (drag)="onDrag(ticket)"
                    (drop)="updateSprint(this.draggedTicket, this.draggedTicket.sprint);
                     updateResponsible(this.draggedTicket, this.draggedTicket.responsible);
                     updateStatus(this.draggedTicket, 'ready')">
                    <li class="list-group-item">
                        {{ticket.label}} ({{ ticket.status }})
                    </li>
                </ul>
            </ng-container>
        </div>
    </div>
</div>
<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
       Dropped
        </div>
        <div class="panel-body" dnd-sortable-container [dropZones]="['tickets-zone']"
             [sortableData]="ticketCollection">
            <ng-container *ngFor="let ticket of ticketCollection ; let i = index">
                <ul class="list-group"
                    *ngIf="ticket.status === 'dropped'"
                    dnd-sortable [sortableIndex]="i"
                    (drag)="onDrag(ticket)"
                    (drop)="updateSprint(this.draggedTicket, this.draggedTicket.sprint);
                    updateResponsible(this.draggedTicket, this.draggedTicket.responsible);
                    updateStatus(this.draggedTicket, 'dropped');">
                    <li class="list-group-item">
                        {{ticket.label}} ({{ ticket.status }})
                    </li>
                </ul>
            </ng-container>
        </div>
    </div>
</div>
-->
<div class="container-fluid">
    <footer >
    </footer>
</div>
