<div class="main-container">
    <alert></alert>
    <home></home>
    <div id="planification-list" class="container">
        <div class="row" dnd-sortable-container [sortableData]="containers" [dropZones]="['container-dropZone']">
            <div class="planification-list jumbotron" *ngFor="let container of containers; let i = index" dnd-sortable [sortableIndex]="i" [dragEnabled]="dragOperation">
                <div class="panel panel-warning" dnd-sortable-container [sortableData]="container.tickets" [dropZones]="['ticket-dropZone']">
                    <h3>{{ container.id }} - {{ container.name }}</h3>
                    <div class="list-group-item" *ngFor="let ticket of container.tickets; let j = index"
                        [sortableIndex]="j" [dragData]="ticket" dnd-sortable [dragEnabled]="!dragOperation" (drag)="onDrag(ticket)"
                            (drop)="updateStatus(this.draggedTicket, container.name); updateSprint(this.draggedTicket, 'TBD')">
                            {{ ticket.id }} - {{ ticket.label }}
                    </div>
            </div>
        </div>
    </div>
</div>

