<div class="row">
    <div class="col-9">
        <button class="btn btn-lg" routerLink="/ticket">
            <span class="glyphicon glyphicon-home"></span> Home
        </button>
        <button class="btn btn-lg" routerLink="/profile">
            <span class="glyphicon glyphicon-user"></span> Profile
        </button>
    </div>
    <div class="col-3">
        <!--<button class="btn btn-lg" routerLink="/registration">
            <span class="glyphicon glyphicon-pencil"></span> Registration
        </button>
        <button class="btn btn-lg" routerLink="/connection">
            <span class="glyphicon glyphicon-log-in"></span> Connection
        </button>-->
        <button class="btn btn-lg" (click)="logout()">
            <span class="glyphicon glyphicon-log-out"></span> Disconnection
        </button>
    </div>
</div>
