<div class="taskbar row">
    <button class="btn btn-lg" routerLink="/creating">
        <span class="glyphicon glyphicon-tag"></span> Creating
    </button>
    <button class="btn btn-lg" routerLink="/qualification">
        <span class="glyphicon glyphicon-sort"></span> Qualification
    </button>
    <button class="btn btn-lg" routerLink="/planification">
        <span class="glyphicon glyphicon-time"></span> Planification
    </button>
    <button class="btn btn-lg" routerLink="/development">
        <span class="glyphicon glyphicon-random"></span> Development
    </button>
    <button class="btn btn-lg" routerLink="/testing">
        <span class="glyphicon glyphicon-exclamation-sign"></span> Testing
    </button>
    <button class="btn btn-lg" routerLink="/validate">
        <span class="glyphicon glyphicon-ok"></span> Validation
    </button>
</div>
