<div class="home-button">
  <button mat-button color="link" routerLink="/creation">Creation</button><br />
  <button mat-button color="link" routerLink="/qualification">Qualification</button><br />
  <button mat-button color="link" routerLink="/planification">Planification</button><br />
  <button mat-button color="link" routerLink="/development">Development</button><br />
  <button mat-button color="link" routerLink="/testing">Testing</button><br />
  <button mat-button color="link" routerLink="/validate">Validation</button><br />
</div>
