<div class="home-button">
  <button class="creation-input" type="button" routerLink="/creation">Creation</button>
  <button class="qualification-input" type="button" routerLink="/qualification">Qualification</button>
  <button class="planification-input" type="button" routerLink="/planification">Planification</button>
  <button class="development-input" type="button" routerLink="/development">Development</button>
  <button class="testing-input" type="button" routerLink="/testing">Testing</button>
  <button class="validate-input" type="button" routerLink="/validate">Validation</button>
  <button class="signOut-input" type="button" routerLink="/authentication">Sign Out</button>
</div>
