/* You can add global styles to this file, and also import other style files */
html {
    position: relative;
    min-height: 100%;
}

body {
  background-color: #00447B;
  margin: 0 0 100px;
  padding: 25px;
  overflow: hidden;
}

footer {
    background-color: #0097a7;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow:hidden;
}

h1 {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
  vertical-align:middle;
  display:table-cell;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
