.header {
    padding: 1%;
}

.title {
    text-align: center;
    color: #00447B;
    font-size: 40px;
    white-space: nowrap;
}

.table, th, td {
    border: 1px solid lightgray;
    border-radius: 2%;
}

.th, td {
    padding: 2%;
    text-align: center;
}

.table-header {}

.table-column-title {
    color: white;
    font-size: 22px;
    background-color: #00447B;
}

.table-column-content {
    color: #00447B;
    font-size: 18px;
    background-color: white;
}