.container-fluid {
  height: 100%;
}

.container {
  height: 100%;
  width: 100%;
}

.drawer-container {
  width: 100%;
}

.sidenav-toggler {
  display:flex;
  justify-content:center;
  align-items:center;
  position: center;
  right: 45%;
}

.table-container {
  position: center;
  width: 100%;
  top: 5ch;
  right: 40%;
}