tbody td {
  background-color: #ffffff;
  cursor: pointer;
}

table {
  width: 100%
}

.container {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.sidenav-toggler {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
